.header-container {
  position: relative;
  width: 100%;
  height: 500px;
  animation: moveBanner 1s 0.5s forwards;
  background: url("https://cf.bstatic.com/xdata/images/hotel/max1024x768/127523807.jpg?k=fe8fac0351c2a78ffaab61ae7c0cc2ba1f51c7d158ab14673aee282708ed4eb8&o=&hp=1");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes moveBanner {
  0% {
    transform: translateY(10rem) rotateY(-30deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

.heading-container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  animation: moveBanner 1s 0.5s forwards;
  background: rgba(55, 55, 55, 0.7);
  width: 500px;
  height: 200px;
  border-radius: 20px;
}
.heading-container h1{
  color: #ffffff;
  font-size: 45px;
}

.mobile-heading-container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.mobile-heading-container h1{
  color: #ffffff;
  font-size: 40px;
}

.book-button {
  margin-top: 2rem;
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem 1rem;
  background-color: #71c9ce;
  border-radius: 5px;
}

.book-button:hover {
  color: #ffffff;
  opacity: 90%;
}