.row1-container {
  width: 100%;
  height: 400px;
  background-color: #e3fdfd;
}

.img1 {
  width: 220px;
  height: 140px;
}

.img2 {
  width: 220px;
  height: 140px;
}

.img3 {
  width: 220px;
  height: 350px;
}

.row1-container {
  padding: 5% 5%;
  display: flex;
}

.column-row1-column1 {
  flex: 50%;
  padding: 2% 5%;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.column-row1-column1 a {
  margin-top: 2px;
}

.column-row1-column2 {
  flex: 50%;
  display: flex;

  align-items: center;
  justify-content: space-around;
}

.img-column1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 10%;
}

.row1-container img {
  border-radius: 5px;
}

@media screen and (max-width: 425px) {
  .row1-container {
    flex-direction: column;
  }
  .img1 {
    width: 110px;
    height: 70px;
  }
  .img2 {
    width: 110px;
    height: 70px;
  }
  .img3 {
    width: 110px;
    height: 180px;
  }
}
